page-contact {
  .io {
    font-size: 110px;
    vertical-align: middle;
    color: #4286f4;
    text-align: center;
    left: 50%;

    display: block;
}
.it {
  vertical-align: middle;
  text-align: center;
  color: #4286f4;
  left: 50%;
  font-size: 40px;
  display: block;
}
.ha{
color: #0d2f66;

}

.haa{
  color: #322366;
  
  }

}
