page-creer-compte {

}

.text-input::-moz-placeholder {
    color: #42f450;
  }
  
  .text-input:-ms-input-placeholder {
    color: #42f450;
  }
  
  .text-input::-webkit-input-placeholder {
    color: #42f450;
  }